{% extends "base.html" %}
{% load bootstrap4 %}

{% block content %}
<a href="{% url 'add' %}" class="button">Delta?</a>
<form method="post">{% csrf_token %}
    {{ form.non_field_errors }}

    {{ form.contribution.errors }}
    <div class="container">
        {% for contribution in form.contribution %}
        <div class="contribution">
            {{ contribution }}
        </div>
        {% endfor %}
    </div>

    <center>
        {{ form.username.errors }}
        {% bootstrap_field form.username show_label=False%}
        {% bootstrap_button "Avgi stemme" button_type="submit" button_class="btn-primary" value="Save"%}
    </center>
</form>
{% endblock content %}
