{% extends "base.html" %}

{% block content %}
Vi, WebKom i Nabla, lagrer noe personinformasjon for at du skal kunne bruke denne tjenesten.
På denne siden kan du se hvilken informasjon dette er. Har du spørsmål, send mail til <a href="mailto:webkom@mai.nabla.no">WebKom</a>.
<br />
<h2>Når du avgir en stemme:</h2>
Vi lagrer NTNU-brukernavnet ditt, for å kunne verifisere at du er den du utgir deg for, samf for å passe på at ingen stemmer flere ganger.

<h2>Når du sender inn et bidrag:</h2>
Vi lagrer NTNU-brukernavnet ditt, for å kunne verifisere at du er den du utgir deg for.
Vi bruker også denne informasjonen for å kunne komme i kontakt med deg.
{% endblock content %}
